@using ProjectUbuild.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/views/shared/_Layout.cshtml";
}

<section class="cover fullscreen image-bg overlay" style="height: auto;min-height: 800px">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="~/assets/foundry/img/register.jpg" />
    </div>
    <div class="container v-align-transform" style="">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="feature bordered text-center" style="margin-top:50px">
                    <h4 class="uppercase">Register Here</h4>
                    @Html.ValidationSummary("", new { @class = "alert alert-danger", style = "background:#ff000070" })
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "text-left", role = "form", id = "form-login" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", autocomplete = "off", title = "Please choose a user name", data_toggle = "tooltip" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", autocomplete = "off", title = "Please enter a email address here", data_toggle = "tooltip" })
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", placeholder = "First name", autocomplete = "off", title = "Please enter your first name here", data_toggle = "tooltip" })
                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", placeholder = "Last name", autocomplete = "off", title = "Please enter a last name here", data_toggle = "tooltip" })
                        @*@Html.TextBoxFor(m => m.Phonenumber, new { @class = "form-control", placeholder = "Phone Number", autocomplete = "off",id="" })*@
                        <div class="input-phone"></div>
                        @Html.PasswordFor(m => m.Password,new { @class = "form-control", placeholder = "Password", autocomplete = "off", data_toggle = "tooltip", data_html="true", data_placement = "bottom", title = "<p>Password must :</p>* be at least 6 characters,* have upper and lower case letters and *special characters." })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", autocomplete = "off" })
                        <p class="">
                            <span> <input type="checkbox" name="checkbox" id="agreementChk" value="Checkbox" /> I agree to your <a onclick="(function() { $('#termsModal').modal('show') })()" href="#termsModal" style="color:red">Terms Of Use</a></span>

                        </p>

                        <input type="submit" id="registerButton" value="Register" title="Accept Terms and conditions to continue" />
                    }

                </div>
            </div>
        </div>
        <!--end of row-->


    </div>
    <!--end of container-->
</section>
<div class="modal fade stick-up" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 50px;width:1079px">
        <div class="modal-content">
            <div class="modal-header" style="padding: 15px">
                <h3 class="modal-title">Terms and Conditions</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre> UBUILD Home Finance Market Place Portal Terms and Conditions – www.ghlbank.com
    (NOV/2018)
    PLEASE READ THESE TERMS AND CONDITIONS PRIOR TO USING UBUILD HOME FINANCE PORTAL ON THE LINK BELOW.
    www.ghlbank.com
    By using UBUILD on www.ghlbank.com, the user agrees to the following terms and conditions(“terms”). These terms constitute an agreement
    between you (“the user”) and GHL Bank Limited (“the  Bank”).
    “We”, “Us”, and “Our” mean GHL Bank Limited and “You” and “Your” mean the Customer and includes (where applicable), any person acting on 
    behalf of the Customer on the site.
    1. www.ghlbank.com is operated by the Bank. The site offers a variety of services and products, including home finance products from 
        various construction merchants, and prices ………..(“The Service or Services”).
    2. The services offered on  www.ghlbank.com is operated by the Bank and / or other various third party providers and distributors.

    3. The user is requested to carefully read the Terms and Conditions as they determine his rights and obligations. Using www.ghlbank.com
        and clicking the “I agree to the Terms and Conditions” box on the payment page, constitutes a definite and irrevocable acceptance 
        on the part of the user to all the terms . The user and / or anyone on his behalf shall not have any claim and /or demand, whether
        direct or indirect, against the Bank and / or its owners and / or anyone acting on their behalf, except as provided here within.
    4. Without prejudice to any of the terms herein, the Bank may at any time, in its absolute discretion, without prior notice and without
        any reason, introduce, amend, vary, restrict or withdraw all or any of the benefits, services, facilities availability and privileges
        in respect of or in connection with the use of the link or the terms stated herein.  Each change  shall take effect from the time of 
        its inclusion on www.ghlbank.com. The binding terms  of each order made by the user shall be the terms and conditions appearing on the
        site at the time of the order. A user who does not agree with any  of the terms must not use the site  References to the male gender
        shall apply equally to the female gender and vice versa
    5. The Bank manages the business and is the party with which the user contracts.. The following subsidiaries of the Bank are legally 
        registered and licensed to operate in the provision of online payment solutions: Direct Pay Limited (Kenya), Direct Payment  Limited 
        (Uganda), One Payment  Limited (Tanzania), Direct Payment Limited Rwanda, and Pay Now  Limited (Zambia).

    Information, Security and Privacy
    6. The personal details that the user submits while making an order, including the details of his purchase(s), shall be retained by the
        Bank  for its database. The Bank  shall not transfer this information to any third party, except to its service providers and only for
        completing the order.
    a. The card holder by using the link agrees that “merchant of record” stores card on file for quick deposit,
    b. Or Card holder agrees that “merchant of record” PCI DSS Level 1 service provider stores card on file for quick deposit.
    7.  The Bank  dedicates resources and takes measures reasonably possible  to prevent others from  entering the site  and infringing upon
        the privacy of  itsusers. However, it is impossible to totally prevent others from entering the site and obtaining the information
        contained within, without the Bank’sknowledge and authorization. The user acknowledges that the Bank may not be able to prevent all 
        intruders from its site andagrees that they  shall not have any claims and / or demands,  against the Bank should the site be compromised.
                
    Ownership and Rights
    8. The sitewith its trademarks and models is  the property of the Bank and / or the other third parties that advertise on it. The user 
        must not change and / or modify the content and / or the information and / or the data and / or the software and / or the Services and
        / or anything else contained on the site . Furthermore, the user must not copy and / or reproduce and / or republish and / or distribute 
        and / or sell and / or transfer and / or modify and / or use, in any way or kind, directly and / or indirectly, data and / or information 
        and / or any other element contained and / or forms part of  the site , (except to download, display and / or print one copy of the 
        information presented on the   site, on a single computer, for personal, non-commercial use only).
    9. Nothing contained on the site should be construed as granting any license and / or any right to  use any of the proprietory rights
        displayed on the site  nor any waiver of whatever kind, of those rights by their owners.
    10. The use of any trademarks and / or other proprietory rights, contained on the site , on any other Web site and / or in any other
        environment of networked computers is strictly prohibited. The user must not post and / or transmit any unlawful, threatening, libellous,
        defamatory, obscene, indecent, inflammatory, pornographic, or profane material and / or any other material that could constitute and / or
        encourage conduct that would be considered a criminal offense and / or give rise to civil liability and / or otherwise in violation of any
        domestic or foreign law .
    11. Illegal and / or unauthorized use of the site  and / or of the information contained therein shall constitute a breach of the Bank’s 
        copyright under section 41 of the Copyright Act 2005, Act 960 copyrights and / or trademarks and / or other intellectual properties and
        a violation of propriety laws. The user hereby declares that he is aware  that the site  and all the information and / or data contained
        therein , as well as its  form and design  are the exclusive property of the Bank  and in the case of third parties’ advertisements, the
        property of those other third parties.
    12. The Bank and its  third party advertising partners  make no warranty with regards to its site and   the services and products being 
        advertised there are all provided on an “as is” basis. The Bank  and its  third party providers and / or distributors, do not warrant 
        the accuracy,  completeness and / or reliability of any of the content on its site and expressly disclaim, all warranties and conditions, 
        including implied warranties and conditions of merchant ability and / or fitness for a particular purpose, and non-infringement, and those
        arising by statute and / or from a course of dealing and / or usage of trades. The site  also includes merchant information over which 
        the Bank  has no supervision and/or  control. The  Bank does not verify the authenticity of this information and will not be held liable 
        for  any mistake,  deceit,discrepancy and / or missing information included therein and or the resultant consequences of its use by the 
        user

    Conditions and Liabilities
    13. The Bank’s liability is limited to the terms contained hereinas well as by international conventions and local laws. Before making an 
        order for a specific service, booking or reserving a service  our site it is recommended that you  read the service provider’s  customer
        contract. You may also contact  the Support Center of the Bank , and this information, if available, shall be given to him under the 
        condition that the user has reserved the product of service through our site
    14. If the services ordered by the user are not servicesprimarily provided for by the Bank the Bank shall be considered only as an 
        intermediary between the user and the service provider  for example an  Iron rod merchant,  or a cement merchant ,. The Bank will 
        therefore not be  liable, directly or indirectly, for  any damage or loss, resulting from   an improper performance by any service 
        provider. The  responsibility and liability, in this regard, shall be borne by the service providers, according to their terms of service.
    15. The Bank , the site managers or operators and / or anyone acting on their behalf do not warrant that the site is free from viruses 
        and / or other malicious components that may damage the user’s computer and / or other equipment and therefore shall not be responsible,
        under any circumstances, and / or liable for any damages, of whatever sort or kind, caused by such viruses and / or other components.
    16. In no event, shall the Bank  and / or its  third party provider and / or distributor be liable for any injury and / or loss and / or 
        claim and / or damage and / or any special and / or exemplary and / or punitive and / or indirect and / or incidental and / or 
        consequential damage of any kind (including but not limited to lost profits and / or lost savings and / or revenues), whether based 
        in contract, tort, strict liability, or otherwise, which arises out, or in any way connected with, any use of our site  and / or any 
        failure and / or delay (including but not limited to the use, or inability of use, of any component of  the site the performance and / 
        or non-performance by the Bank  and / or its third party provider and / or distributor, even if the Bank  and / or any such third party
        has been advised of the possibility of such damages.
    17. The user shall compensate and indemnify the Bank and / or anyone acting on its behalf and / or any of its third party providers and 
        distributors and their officers, directors, employees, and agents, from and against any claims and / or demands including for all the 
        expenditures and / or damages and / or legal costs that the Bank may be liable to due to the usage of its site by the user.
    18. Change, Modifications and Cessation of the Site and Offered Services18.Without prejudice to any of the provisions herein, the Bank may 
        at any time, in its absolute discretion, without prior notice and without any reason, introduce, amend, vary, restrict, withdraw, cancel
        or refuse access to  all or any of the benefits, services, facilities and privileges in respect of or in connection with the use of the 
        site or the terms stated herein. The Bank may  cancel the services offered, including but not limited to all or some of the links
        contained  www.ghlbank.com to other sites.
    19. The Bank may cancel the services offered on it , including but not limited to all  or some of the links contained within the site to 
        other sites.f It may refuse access or cease access to the its site or any part of it, to any user  at any phase, at its sole discretion
        and without any prior notice.
    20. The Bank  may change and modify, from time to time, the site’s structure and / or outlook and / or terms of use and / or the scope and 
        availability of its offered services and / or any other element connected to the site, its operation and the services, at its sole
        discretion and without prior notice.
    21. All pictures and images displayed on the site are for demonstration purposes only and do not, in any  form or capacity , constitute 
        an obligation  on  the Bank’s  part.
    22. Information displayed on our site which  is given to the Bank  by third parties is under the sole responsibility of those parties, and 
        the Bank  shall not be responsible and / or liable for any mistakes and / or misrepresentation, regarding such information.

    Use of www.ghlbank.com
    23. The user may use the site  to make legitimate orders or purchase different services and must not use the site for any other purposes,
        including without limitation, to make any speculative, false, or fraudulent order and / or any order in anticipation of demand.
    24. An order through our site  can be paid only by the forms of payment represented on the site and a condition precedent for the execution 
        of the purchase order through the site is the receipt of the approval of the user’s credit card company or form of payment provider for
        the purchase. Any person who owns a valid credit card or other form of payment may purchase services through the Bank’s  UBUILD portal.
    25. The site is intended for making orders and purchasing different services and products and for the receipt of information in this regard
        to such services and products. No other use is permitted.
    26. If the user represents that he has the capacity  to use the site  and to create binding legal obligations for any liability that he may
        incur as a result of his use  of the site  he shall be financially responsible for all fees incurred thereof and from the use by those 
        using his login information.

    Reservation and Order Procedures
    27. The user should enter in the chosen order’s details, the form of payment details, and all other details requested for by the order form.
        The user shall be solely responsible for all errors while entering the different requested details, including but not limited to errors
        in choosing the service details and / or the flight destination and / or vacation and / or the number of tickets and / or services that 
        the user wishes to purchase and / or mistakes regarding the ages of the passengers and / or regarding the passenger’s passport details.
    28. The Bank and / or its third party providers and / or distributors shall not be responsible and / or liable, directly and / or indirectly,
        if the order and / or some of the order’s details is  not accepted by the system, for whatever reason and / or cause.
    29. The Bank shall not be responsible for any technical and / or other challenges  that shall prevent the user from using the Services on its
        site
    30. Entering false details, including invalid credit card details and / or details of credit cards that the user has no right to use, is a 
        criminal offense. Legal action can be taken against anyone entering false information, including civil suits for damages, which the Bank 
        and / or any of its third-party providers and / or distributors, might incur due to, or regarding, the entering of false information.
    31. The Bank  and / or its third party providers and / or distributors are under no obligation to accept the user’s order and / or to give 
        it priority over other orders including orders that were made later.

    Prices and Payments
    32. The prices listed on the site are valid for orders made exclusively through our site  The prices specified on the site  are in U.S.
        dollars. All payments in different currencies shall be translated to U.S. dollars, as per the selling transfer rate of the U.S. dollar.
        The Bank  shall debit the user’s credit card for the order only after confirmation of the order.
        An extra fee will be charged for order changes and / or cancellations.
    33. Though the total amount that the customer is charged is clearly indicated on the payment page, the customer may incur additional costs 
        depending on the preferred mode of payment (i.e. MTN, VODAFONE, AIRTELTOGO charges for mobile money transfers, debit card transaction 
        fees for debit cards, etc.).

    Links to Other Sites
    34. The site contains links to different commercial Web sites and other Internet pages (hereinafter: “the other web sites”). The Bank  has 
        no control over the other web sites, and the use of them is subject to the terms, conditions and other instructions detailed in the 
        other web sites, if such exist. The Web Sites are provided only for the user’s convenience and are not in any way endorsed by the Bank
    35. The Bank   shall not be liable in any way whatsoever to the contents of the other web sites and the inclusion of the links are not, in any way,
        confirmations , on the Bank’s , as to the truthfulness and / or correctness of the information contained on the other web sites.
    36. If the user shall decide to access the other web sites, he does so at his own risk. Every transaction that the user will carry out on the other
        web sites shall be executed directly between the user and the other web site and / or the site owners and / or its operators and / or anyone acting
        on their behalf, without any involvement on the Bank’s  and / or anyone acting on the Bank’s behalf, and the Bank  and / or anyone acting on its
        behalf shall not be liable, in any way or form, to any act and / or transaction and / or purchase that shall take place in the other web sites.
    37. By using our site , the user agrees and acknowledges that he will have no claim and / or demand, of any kind or form, against the Bank and / or 
        anyone acting on its behalf for any use and / or act and / or transaction and / or purchase of products and / or services that will take place on 
        the other web sites.
    38. If the Bank and / or anyone acting on its behalf, shall try out of their good will and on exceptional basis to assist in solving a problem of a
        user on our site that chose to carry out a transaction on the other web sites, this assistance shall not be interpreted in any way as putting any
        liability, of whatever kind or form, on the Bank and /or anyone acting on its behalf. Similarly, nothing shall be interpreted in these terms  as 
        creating any liability of whatever sort or kind on the Bank  and / or anyone acting on its behalf, for any act, whatsoever, that the user has taken 
        on the other web sites or by means of the other web sites.

    Entire Agreement, Additional Terms and Severability
    39. These terms, together with those incorporated herein or referred to herein, constitute the entire Agreement between the Bank  and the user, relating to 
        the subject matter hereof, and supersedes any prior understandings and / or agreements (whether oral and / or written) regarding the subject matter, and
        may not be amended and / or modified except in writing or by making such amendments or modifications available on the site .
    40. Additional terms  may apply to orders, purchases of goods and / or services and other uses of portions of the site , and the user agrees to abide by 
        such other terms .
    41. The terms  shall be deemed severable. If any provision shall be determined to be unenforceable and / or invalid, such provision shall nonetheless be 
        enforced to the fullest extent permitted by the applicable law, and such determination shall not affect the validity and enforceability of any 
        other remaining provisions.

    Jurisdiction and Choice of Law
    42. This Agreement shall be governed by the laws of Ghanaonly and the orders made through our site  The Courts of Ghana, shall have the exclusive 
        jurisdiction in any dispute and / or complaint and / or the claim regarding the use of this siteand the purchases/orders made on it.
                
    Terms & Conditions
    43. The service provider terms, conditions and cancellation / return policy will apply.
    44. The credit card that made payment must be presented when the service is consumed and together with valid identification documents. In all cases, 
        if the card holder is not the service consumer, the Bank  or the service provider will request additional verification information.
    General
    45. The books and the records kept by the Bank (or on its behalf) whether on paper, microfilm, by electronic recording or otherwise are, in the absence 
        of manifest error, enough evidence of any facts or dealing relating to the Account and the Bank may rely on them as such.
    46. You hereby acknowledge that amendements made to the site with reference to clause 18 above will not constitute a cancellation of this agreement.
    47 You may not vary any of these terms.
    48. A favor or concession the Bank may give you will not affect any of the Bank’s rights against you
    49. The Bank’s right to receive payment from you will not be affected by any dispute between you and a supplier
    50. You must pay all the Bank’s expenses in recovering any outstanding amounts you owe the Bank, including legal fees on an attorney and own client 
        scale, collection fees and tracing fees.

</pre>


            </div>

        </div>
    </div>
</div>