@using ProjectUbuild.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/views/shared/_Layout.cshtml";
}


<section class="cover fullscreen image-bg overlay" style="height: auto;min-height: 800px">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="~/assets/foundry/img/register.jpg" />
    </div>
    <div class="container v-align-transform" style="">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="feature bordered text-center" style="margin-top:50px">
                    <h4 class="uppercase">Register Here</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "text-left", role = "form", id = "form-login" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", autocomplete = "off" })
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", placeholder = "First name", autocomplete = "off" })
                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", placeholder = "Last name", autocomplete = "off" })
                        @*@Html.TextBoxFor(m => m.Phonenumber, new { @class = "form-control", placeholder = "Phone Number", autocomplete = "off",id="" })*@
                        <div class="input-phone"></div>

                        @Html.PasswordFor(m => m.Password,
                            new { @class = "form-control", placeholder = "Password", autocomplete = "off", data_toggle = "tooltip", data_html="true", data_placement = "bottom", title = "<p>Password must :</p> be at least 6 characters, have upper and lower case letters and special characters." })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", autocomplete = "off" })

                        <input type="submit" value="Register" />
                    }
                    <p class="mb0">
                        By signing up, you agree to our
                        <a href="#">Terms Of Use</a>
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
