@model uBuildCore.Models.HouseDesigns
@{
    ViewBag.Title = "Customize your house";
    Layout = "../Shared/_Layout.cshtml";
}
<input type="hidden" id="__selected_house_id" value="@Model.RecordId" />
<input type="hidden" id="__selected_house_cost" value="@Model.BareDesignCost" />
<input type="hidden" id="__selected_house_currency" value="@Model.ISOCode" />
<section class="page-title page-title-2 image-bg overlay parallax" style="height:125px">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home10.jpg&quot;); top: -100px;">
        <img alt="Background Image" class="background-image" src="img/home10.jpg" style="display: none;">
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 33px">
            <div class="col-md-6">
                <h2 class="uppercase mb8" style="font-size:25px;line-height:25px">House Customization</h2>
                <p class="lead mb0">You can customize your chosen home . </p>
            </div>
            <div class="col-md-6 text-right hidden-xs hidden-sm">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        @Html.ActionLink("Home Selection", "Index", "FullHouse", new { }, null)
                    </li>
                    <li class="active">Home Customization</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="container-fluid" id="houseDesignWrapper" data-ng-controller="HouseDesignController as vm">

    <div class="card-progress" style="background-color: rgba(255, 255, 255, 0.8); display: block;" data-ng-show="vm.ajax">
        <div class="progress-circle-indeterminate progress-circle-master"></div>
    </div>
   
    <div class="row" style="margin-top: -15px">
        <div class="col-md-8">
            <div class="row">

                <div class="panel panel-success">
                    <div class="panel-heading ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-sm-4">
                                    <h4>
                                        House Image
                                       
                                    </h4>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="switch">
                                                <input type="checkbox" data-ng-model="vm.view3D">
                                                <span class="slider round"></span>
                                            </label>
                                            <label class="font-weight-bold" data-ng-hide="vm.view3D">2D View</label>
                                            <label class="font-weight-bold" data-ng-show="vm.view3D">3D View</label> 
                                        </div>
                                       
                                    </div>
                                </div>
                                
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary btn-sm pull-right" data-ng-click="vm.saveCustomization()">Save Customization</button>
                                    </div>
                                
                               
                            </div>
                           
                        </div>
                    </div>
                    <div class="panel-body" >
                        <div class="col-md-12" data-ng-hide="vm.view3D">
                            <img src="~/images/HouseImages/@Model.HouseImage " class="img-responsive img-rounded" alt="House Image">
                        </div>
                        <div class="col-md-12" data-ng-show="vm.view3D">
                            <img src="~/images/HouseImages/@Model.DesignImage " class="img-responsive img-rounded" alt="House Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        @* <div class="form-group form-group-default " style="height: 60px"> *@
                                        @*     <label class="">Customizable Items List</label> *@
                                            <select class="custom-selectpicker" data-live-search="true"
                                                    aria-hidden="true" data-ng-options="item as item.ItemName for item in vm.customizables" data-ng-model="vm.model.selectedCustomizable" data-ng-change="vm.getFixturesForCustomizable(vm.model.selectedCustomizable)">
                                                <option value="">Select Customizable..</option>
                                            </select>
                                           
                                        @* </div> *@
                                    </div>
                                    <div class="col-md-9" style="max-height: 310px; overflow: auto;" data-ng-show="vm.customizableFixtureFittings.length>0">
                                        <select class="image-picker show-html" data-ng-model="vm.model.selectedFixture">
                                            <option data-ng-repeat="ff in vm.customizableFixtureFittings" data-img-src="/images/FixturesImages/{{ff.ItemImage}}" data-img-alt="{{ff.ItemDescription}}" value="{{ff.RecordId}}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4" id="sidebar_design" style="overflow: auto">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>Base house cost + Customizations</h4>
                    <h3>= <span data-ng-bind="vm.model.houseCostCurrency"></span> <span data-ng-bind="vm.model.totalLoanAmt | currency :''"></span></h3>
                </div>
                <div class="panel-body">
                    
                    <div class="card-group horizontal" id="accordion" role="tablist" aria-multiselectable="false">
                        <div class="card card-default m-b-0">
                            <div class="card-header " role="tab" id="headingThree">
                                <h4 class="card-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h5 style="color: brown">Base house cost : <span data-ng-bind="vm.model.houseCostCurrency"></span> <span>@Model.BareDesignCost.ToString("N2")</span></h5>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabcard" aria-labelledby="headingThree">
                                <div class="card-block">
                                    <table class="table cart mb48">
                                        <p>Bill of quantities</p>
                                        <thead>
                                        <tr>

                                            <th>Building Stage</th>
                                            <th>Cost (GHS)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="item in vm.boqs">
                                            <td data-ng-bind="item.Name">Land Acquisition</td>
                                            <td data-ng-bind="item.Price | currency:''">2,000.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card card-default m-b-0">
                            <div class="card-header " role="tab" id="headingOne">
                                <h4 class="card-title">
                                    <a style="color: brown" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       Your Customizations
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabcard" aria-labelledby="headingOne">
                                <div class="card-block">
                                    <table class="table cart mb48">
                                        <thead>
                                        <tr>

                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Unit Cost ({{vm.model.houseCostCurrency}})</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr data-ng-repeat="(key, value) in vm.model.selectedFixtures">

                                            <td>
                                                <a href="#">
                                                    <img alt="{{value.ItemDescription}}" class="product-thumb" src="/images/FixturesImages/{{value.ItemImage}}" style="width: 90%"/>
                                                </a>
                                            </td>
                                            <td>
                                                <span data-ng-bind="value.ItemCount">1</span>
                                            </td>
                                            <td>
                                                <span data-ng-bind="value.UnitCost | currency:''"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card card-default m-b-0">
                            <div class="card-header " role="tab" id="headingTwo">
                                <h4 class="card-title">
                                    <a style="color: brown" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="label font-weight-bold text-white">Check eligibility for owning this house</div>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabcard" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    <form>
                                       
                                        <div class="form-group form-group-default input-group">
                                            <label for="houseEligibility" class="ng-binding">Please Select Loan Tenure in Years.</label>
                                            <select data-ng-model="vm.model.tenure" id="loanTenure" placeholder="Loan Tenure" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">
                                                <option value="">Select Loan Tenure</option>
                                                <option data-ng-repeat="t in vm.getTenureRange()" value="{{t}}">{{t}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-group-default input-group">
                                            <label for="houseEligibility" class="ng-binding">Please enter your monthly income.</label>
                                            <input autocomplete="off" data-ng-model="vm.model.income" id="houseEligibility" placeholder="Monthly Income here" type="Text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">
                                            <span ng-show="vm.model.tenure && vm.model.income" class="input-group-addon primary p-r-15 p-l-15" style="cursor: pointer; background: #ac5e81" data-ng-click="vm.checkEligibility()">
                                                Submit
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    
                    
                    
                    

                    
                   
                   

                </div>
            </div>
        </div>
    </div>
</section>